.page {
    font-family: 'Inter', Arial, sans-serif;
    min-width: 320px;
}

@media screen and (min-width: 769px) {
    .page {
        max-width: 880px;
        margin: 0 auto;
    }
}

body {
    background: #000;
}