.profile__add {
    margin-top: 33px;
    width: 282px;
    background-image: url(../../../images/profile-plus.svg);
    background-size: cover;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 769px) {
    .profile__add {
        margin-top: 34px;
        width: 150px;
        background-size: 22px;
    }
}