.popup__close {
    position: absolute;
    right: 0px;
    top: -36px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(../../../images/popup-close_icon.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
}

@media screen and (min-width: 769px) {
    .popup__close {
        right: -40px;
        top: -40px;
        width: 32px;
        height: 32px;
    }
}