.login__submit {
    margin-top: 216px;
    background-color: #FFF;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
}