.profile__edit-button {
    margin-bottom: 8px;
    position: absolute;
    right: -28px;
    background-image: url(../../../images/profile-icon.svg);
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 769px) {
    .profile__edit-button {
        position: initial;
        background-size: 10px;
    }
}