.button_size_small {
    margin-left: 10px;
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 769px) {
    .button_size_small {
        width: 24px;
        height: 24px;
        margin-left: 18px;
    }
}