.footer__logo {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
    margin: 0;
}

@media screen and (min-width: 769px) {
    .footer__logo {
        font-size: 18px;
        line-height: 22px;
    }
}